@font-face {
    font-family: 'Roboto-Light';
    src: url(./fonts/Roboto-Light.ttf);
  }
  @font-face {
    font-family: 'Roboto-italic';
    src: url(./fonts/Roboto-LightItalic.ttf);
  }
  @font-face {
    font-family: 'Roboto-Bold';
    src: url(./fonts/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: 'Roboto-EBold';
    src: url(./fonts/Roboto-Black.ttf);
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
  }